audio{
    margin: a auto;
    position: absolute;
    bottom: 2.5rem;
    width: 98%;
    height: 2.5rem;
}

.hearingLing{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2.1rem;
    left: 0;
    z-index: 999;
    background: rgba(117,117,117,0.6);
    
    >ul>li{
        border-bottom: 0.05rem solid #DDDDDD;
        border-top: 0.05rem solid #DDDDDD;
    }
}

.hearingLing.ng-enter{height: 0;}
.hearingLing.ng-enter-active{height: 100%;}
.hearingLing.ng-leave{height: 100%;}
.hearingLing.ng-leave-active{height: 0;}

#list{
    background: white;
    opacity: 0.9;
    height: 18rem;
    overflow: auto;
    
    li{
        height: 2rem !important;
        line-height: 2rem !important;
        font-size: 0.6rem !important;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }
}
