//头部样式
.H_title{
    border-color: white !important;
    color: #838383 !important;
    background: white !important;
    color: #7e7e7e;
    border-bottom: 0.05rem solid #dedede !important;
    margin: 0 auto !important;
    padding-left: 0.93rem !important;
    padding-right: 0.93rem;
    
    .right_btn{
        right: 0.93rem !important;
        }
    
    .buttons{
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
        i{
            font-size: 1rem;
        }
    }

}

//******************************底部样
.footer{
    height: 2.5rem;
    background: white;
    padding: 0;
    font-size: 0.566rem;
    
    .tabs{
        width: 100%;
        height: 2.5rem;
        
        .tab-item{
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            
            .icon-font{
                font-size: 1rem;
                width: 1rem;
                height: 1rem;
            }
        }
//      .tab-item:visited{
//          color: #2cc3de;
//      }
    }
}

.hearing_btn{
    color: #2ac3e2;
}

.video_btn{
    color: #2ac3e2;
}

.read_btn{
    color: #2ac3e2;
}

.myself_btn{
    color: #2ac3e2;
}
