#video{
    position: relative;
    z-index: 99;
    top: 2.2rem !important;
    margin-bottom: 1rem !important;
}

#spaceBox{
    width: 100%;
    height: 13rem;
    opacity: 0;
}

#videoVersion{
    border: none !important;
}
