<ion-view>
	<ion-header-bar class="bar-positive hearing_head" ng-class="{H_title:true}">
		<div class="buttons" ng-class="{left_btn:true}">
			<i class="ion ion-search"></i>
		</div>
		<h1 class="title H_title" style="text-align: center;" ng-class="{H_title:true}">每日听力推荐</h1>
		<div class="buttons" ng-class="{right_btn:true}">
			<i class="ion ion-stats-bars"></i>
		</div>
	</ion-header-bar>
	<ion-content>
		<!--下拉刷新-->
		<ion-refresher pulling-text="刷新" on-refresh="doRefresh()" >
		</ion-refresher>
		<!--
        	作者：1316225239@qq.com
        	时间：2018-01-17
        	描述：轮播图
        -->
		<ion-slide-box on-slide-changed="slideHasChanged(index)" auto-play="true" does-continue="true" slide-interval="4000">
		  <ion-slide class="box" ng-repeat="Img in bannerList track by $index" on-slide-changed="slideHasChanged(index)" auto-play="true" does-continue="true" slide-interval="3000">
		  	<img src="{{Img.banner}}" />
		  </ion-slide>
		</ion-slide-box>
		<!--
        	作者：1316225239@qq.com
        	时间：2018-01-18
        	描述：推荐按钮
        -->
        <div ng-class="{hearing_groom:true}">
        	<button class="button button-calm left_btn">
        		<i class="ion ion-ios-pricetags-outline"></i>
			  	资源分类
			</button>
			<button class="button button-positive right_btn">
				<i class="ion ion-paper-airplane"></i>
			 	 随便听听
			</button>
        </div>
        <!--
        	作者：1316225239@qq.com
        	时间：2018-01-18
        	描述：列表卡片
        -->
        <div class="hearing_list">
        	<h2>每日推荐</h2>
        </div>
        <div class="card" ng-repeat="info in List track by $index">
			<a class="item item-text-wrap" href="#/hearing_info/{{info.id}}" >
				<img src="{{info.img}}"/>
				<div class="hearing_info">
					<h2>{{info.title}}</h2>
					<p>
						<span>{{info.time}}</span>
						<span>{{info.src}}</span>
					</p>
				</div>
			</a>
		</div>
		<ion-infinite-scroll on-infinite="loadMore()" distance="1%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>